/* 공통 스타일 */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  color: #6e6e73;
  height: 3000px;
}

a {
  text-decoration: none;
  color: #cac8c8;
}

.inner {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: height 1s; */
}

header {
  background-color: rgba(22, 22, 23, .8);
  height: 44px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

.copyright {
  color: #fff;
}

.copyright .hover.one:hover {
  text-decoration: underline;
}
.copyright .hover.two:hover {
  text-decoration: underline;
}

.product_link {
  margin-top: 15px; 
}

.product_link a {
  color: #2997ff;
  font-size: 18px;
  font-weight: 400;
}

header .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.inner a.logo {
  height: 44px;
}

header .inner > .logo img {
  padding-top: 5px;
  height: 100%;
  filter: invert(88%) sepia(13%) saturate(31%) hue-rotate(107deg) brightness(96%) contrast(79%);;
  box-sizing: border-box;
}

header .main-menu .menu {
  display: flex;
  padding: 0 15px;
  height: 44px;
  flex: 1;
}

header .main-menu .menu .item {
  padding: 0 22px;
}


header .main-menu .menu .item {
  position: relative;
  transition: height 1s;
}

header .main-menu .menu .item .item__name {
  line-height: 44px;
  /* text-align: center; */
  /* left: 0; */
}

header .main-menu .menu .item:hover .item__name {
  color: #fff
}

header .main-menu .menu .item .item__name .material-icons {
  text-align: center;
  line-height: 45px;
  font-size: 19px;
  /* padding-top: 12px; */
  box-sizing: border-box;
}

header .main-menu .menu .item .item__contents {
  width: 100%;
  height: 0px;
  position: fixed;
  left: 0;
  visibility: hidden;
  /* display: none; */
  transition: height .4s, opacity .4s;
  opacity: 0;
}


header .main-menu .menu .item:hover .item__contents  {
  /* display: block; */
  height: 500px;
  background-color: #161617;
  visibility: visible;
  transition: opacity .4s .4s;
  opacity: 1;
}

header .main-menu .menu .item__contents .contents__menu .inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 25px 80px;
}

header .main-menu .menu .item__contents .contents__menu h4 {
  font-size: 12px;
  color: #86868B;
  padding: 25px 0 15px;
}

header .main-menu .menu .item__contents .contents__menu .first_contents__menu {
  font-size: 24px;
}

header .main-menu .menu .item__contents .contents__menu .first_contents__menu p {
  font-size: 12px;
  color: #E8E8ED;
  font-weight: 700;
}

header .main-menu .menu .item__contents .contents__menu .inner > li ul li {
  padding: 0 88px 0 0;
  color: #E8E8ED;
  font-weight: 600;
  cursor: pointer;
}


/* 검색창 */

header .inner #search-menu ul.item a span {
  padding-right: 22px;
}
header .inner #search-menu .item .item__contents {
  background-color: #161617;
  width: 100%;
  position: fixed;
  left: 0;
  top: 44px;
  /* display: none; */
  visibility: hidden;
  transition: height .4s, opacity .4s;
  opacity: 0;
}
header .inner #search-menu .item:hover a {
  color: #fff;
}
header .inner #search-menu .item > a:focus +.item__contents {
  display: block;
  height: 500px;
  position: fixed;
  visibility: visible;
  transition: opacity .4s .4s;
  opacity: 1;
}
header .inner #search-menu .item .item__contents .inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 25px 80px;
}
header .inner #search-menu .item .item__contents .inner.icons .search-bar {
  display: flex;
  align-items: center;
  padding: 25px 0 30px;
}
header .inner #search-menu .item .item__contents .inner.icons .search-bar input {
  width: 730px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 600;
}
header .inner #search-menu .item .item__contents .inner.icons h4 {
  padding-bottom: 15px;
}
header .inner #search-menu .item .item__contents .contents__menu .inner.icons .search-bar .material-icons {
  font-size: 35px;
  padding: 10px;
}
header .inner #search-menu .item .item__contents .contents__menu .inner.icons .search-list > li {
  display: block;
  padding-bottom: 5px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #E8E8ED;
  
}
header .inner #search-menu .item .item__contents .contents__menu .inner.icons .search-list > li:hover {
  background-color: #212122;
  cursor: pointer;
}
header .inner #search-menu .item .item__contents .contents__menu .inner.icons .search-list > li:hover span {
  font-weight: 600;
  color: #E8E8ED;
}


header .inner #search-menu .item .item__contents .contents__menu .inner.icons .search-list > li span {
  font-size: 20px;
  color: #86868B;
  padding-right: 5px;
}

/* 장바구니 */
header .inner #shopping-bag .item a span {
  padding-left: 36px;
}
header .inner #shopping-bag .item .item__contents {
  background-color: #161617;
  width: 100%;
  position: fixed;
  left: 0;
  top: 44px;
  /* display: none; */
  visibility: hidden;
  transition: height .4s, opacity .4s;
  opacity: 0;
}
header .inner #shopping-bag .item:hover a {
  color: #fff;
}
header .inner #shopping-bag .item > a:focus + .item__contents {
  display: block;
  height: 500px;
  position: fixed;
  visibility: visible;
  transition: opacity .4s .4s;
  opacity: 1;
}
header .inner #shopping-bag .item .item__contents .inner.shop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 25px 80px;
}
header .inner #shopping-bag .item .item__contents .inner.shop h2 {
  font-size: 24px;
  font-weight: 700;
  color: #E8E8ED;
  /* margin-bottom: 14px; */
  padding: 40px 0 20px;
}
header .inner #shopping-bag .item .item__contents .inner.shop p {
  font-size: 12px;
  font-weight: 600;
  margin: 9px 0 36px;
}
header .inner #shopping-bag .item .item__contents .inner.shop p a {
  color: #2997ff;
  text-decoration: underline;
}
header .inner #shopping-bag .item .item__contents .inner.shop  li > h4 {
  padding: 12px 0 10px;
}
header .inner #shopping-bag .item .item__contents .inner.shop  li > ul li {
  color: #E8E8ED;
  font-weight: 700;
  margin: 4px 0;
  padding: 6px 0;
  display: flex;
}
header .inner #shopping-bag .item .item__contents .inner.shop  li > ul li:hover {
  color: #fff;
  cursor: pointer;
}
header .inner #shopping-bag .item .item__contents .inner.shop  li > ul li span {
  color: #86868B;
  font-size: 15px;
  padding-right: 15px;
}

.section-content {
  background-color: #fbfbfd;
  margin-top: 44px;
  height: 48px;
  font-size: 14px;
}

.section-content .inner > span.one {
  font-size: 20px;
  /* position: absolute; */
  right: 137px;
  bottom: 21px;
  display: fixed;
}

.section-content .inner > a {
  color: #0066cc;
  display: flex;
  align-items: center;
}

.section-content .inner > a > span {
  font-size: 19px;
}

/* 상품 소개 페이지 (1장) */
.sales_presentation_one {
  height: 600px;
  max-width: 2560px;
  margin: 0 auto;
  box-sizing: border-box;
}
.sales_presentation_one .inner .copyright .product_link a + a {
  margin-left: 45px;
  text-align: center;
}
.sales_presentation_one .inner .copyright .product_link a span {
  /* height: 100%; */
  position: absolute;
}

.sales_presentation_one.phone-pro {
  /* background-color: orange; */
  background-image: url("../images/sales_presentation_one-phone-pro.jpg");
  background-position: center bottom;
  background-size: cover;
}
.sales_presentation_one.phone-pro .inner .copyright {
  /* background-color: #2997ff; */
  width: 100%;
  height: 100%;
  text-align: center;
  /* position: absolute;
  top: 47px;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  padding-top: 70px;
}
.sales_presentation_one.phone-pro .inner .copyright h2 {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -3px;
}
.sales_presentation_one.phone-pro .inner .copyright h3 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -3px;
}
/* .sales_presentation_one.phone-pro .inner .copyright .product_link {
  position: absolute;
  left: 392px;
} */
.sales_presentation_one.phone-pro .inner .copyright .hover.one:hover {
  text-decoration: underline;
}

.sales_presentation_one.phone {
  /* background-color: burlywood; */
  background-image: url("../images/sales_presentation_one-phone.jpg");
  background-position: center;
  background-size: cover;
  height: 680px;
}
.sales_presentation_one.phone .inner .copyright {
  width: 100%;
  height: 100%;
  text-align: center;
  /* position: absolute;
  top: 44px;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  padding-top: 60px;
}
.sales_presentation_one.phone .inner .copyright h2 {
  color: #1d1d1f;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -3px;
}
.sales_presentation_one.phone .inner .copyright h3 {
  color: #1d1d1f;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -3px;
}
/* .sales_presentation_one.phone .inner .copyright .product_link {
  position: absolute;
  left: 392px;
} */

.sales_presentation_one.watch {
  /* background-color: rosybrown; */
  background-image: url("../images/sales_presentation_one-watch.jpg");
  background-position: center;
  background-size: cover;
  height: 680px;
}
.sales_presentation_one.watch .inner .copyright {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  padding-top: 70px;
  /* position: absolute;
  top: 44px;
  bottom: 0; */
}
.sales_presentation_one.watch .inner .copyright h2 {
  color: #1d1d1f;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -3px;
}
.sales_presentation_one.watch .inner .copyright h3 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -3px;
}
/* .sales_presentation_one.watch .inner .copyright .product_link {
  position: absolute;
  left: 391px;
} */

/* today_color */
.today_color {
  background-color: #f8e475;
  position: relative;
  margin: 0 auto;
}
.today_color .inner{
  /* background-color: cadetblue; */
  height: 55px;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid #0066cc; */
}
.today_color .inner h2 {
  color: #161617;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
}
.today_color .inner .swiper {
  /* background-color: wheat; */
  width: 20px;
  height: 55px;
  flex-grow: 1;
}
.today_color .inner .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin: 0 20px;
}
.today_color .inner .swiper .swiper-slide a {
  color: #1d1d1f;
  font-size: 20px;
  font-weight: 600;
}
.today_color .inner a > .material-icons {
  color: #161617;
  font-size: 32px;
}

/* 상품 소개 페이지 (2장) */

.sales_presentation_two {
  height: 600px;
  max-width: 2560px;
  margin: 0 auto;
  /* background-color: #2997ff; */
  display: flex;
  position: relative;
}
.sales_presentation_two > div{
  margin: 10px 10px 0;
}
.sales_presentation_two > div .copyright {
  font-size: 21px;
  letter-spacing: -2px;
}
.sales_presentation_two > div .copyright h2 { 
  font-size: 40px;
  font-weight: 600;
}
.sales_presentation_two > div .copyright h3 {
  font: 21px;
}
.sales_presentation_two > div .copyright .product_link a {
  font-size: 17px;
}
.sales_presentation_two > div .copyright .product_link span {
  font-size: 18px;
}

.sales_presentation_two .wwdc23 {
  /* background-color: rosybrown; */
  height: 590px;
  width: 50%;
  background-image: url("../images/sales_presentation_two-wwdc23.jpg");
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* box-sizing: border-box; */
}
.sales_presentation_two .wwdc23 .copyright {
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
}

.sales_presentation_two .ipad {
  /* background-color: violet; */
  height: 590px;
  width: 50%;
  max-width: 1280px;
  background-image: url("../images/sales_presentation_two-ipad.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  /* box-sizing: border-box; */
}
.sales_presentation_two .ipad .copyright {
  color: #1d1d1f;
  margin-top: 20px;
  padding-top: 20px;
}

.sales_presentation_two .macbook_pro {
  background-color: wheat;
  height: 590px;
  width: 50%;
  background-image: url("../images/sales_presentation_two-macbook_pro.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.sales_presentation_two .macbook_pro .copyright {
  margin-top: 20px;
  padding-top: 20px;
}

.sales_presentation_two .airpods_pro {
  background-color: wheat;
  height: 590px;
  width: 50%;
  background-image: url("../images/sales_presentation_two-airpods_pro.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}
.sales_presentation_two .airpods_pro .copyright {
  margin-top: 20px;
  padding-top: 20px;
}
.sales_presentation_two .airpods_pro .copyright a {
  color: #fff;
  font-weight: 600;
}

.sales_presentation_two .imac {
  /* background-color: violet; */
  height: 590px;
  width: 50%;
  max-width: 1280px;
  background-image: url("../images/sales_presentation_two-imac.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  /* box-sizing: border-box; */
}
.sales_presentation_two .imac .copyright {
  color: #1d1d1f;
  margin-top: 20px;
  padding-top: 20px;
}

.sales_presentation_two .macbook_air {
  /* background-color: violet; */
  height: 590px;
  width: 50%;
  max-width: 1280px;
  background-image: url("../images/sales_presentation_two-macbook_air.png");
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  /* box-sizing: border-box; */
}
.sales_presentation_two .macbook_air .copyright {
  color: #1d1d1f;
  margin-top: 20px;
  padding-top: 20px;
}

/* 애플 TV */
.apple_tv_contents {
  /* background-color: #f8e475; */
  height: 680px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.apple_tv_contents .inner {
  max-width: 2560px;
  overflow: hidden;
}

.apple_tv_contents .swiper {
  /* background-color: #2997ff; */
  width: calc(980px * 3 + 20px * 2);
  height: 570px;
  flex-shrink: 0;
}
.apple_tv_contents .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}
.apple_tv_contents .swiper-slide-active {
  opacity: 1;
}
.apple_tv_contents .swiper-slide .into-bottom{
  position: absolute;
  bottom: 70px;
  left: 50px;
}
.apple_tv_contents .swiper-slide .into-bottom .btn{
  width: 100px;
  height: 22px;
  color: #1d1d1f;
  background-color: #fff;
  font-size: 12px;
  font-weight: 800;
  line-height: 22px;
  text-align: center;
  border-radius: 25px;
  padding: 12px 18px;
}
.apple_tv_contents .swiper-slide .into-bottom .btn .material-icons {
  font-size: 18px;
}
.apple_tv_contents .swiper-slide .into-bottom .genre {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  margin-left: 40px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
}
.apple_tv_contents .swiper-slide .into-bottom .movie_awards {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -2px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
}
.apple_tv_contents .swiper-pagination {
  position: absolute;
  bottom: 40px;
  z-index: 1;
}
.apple_tv_contents .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.apple_tv_contents .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #161617;
}
.apple_tv_contents .swiper-button-prev,
.apple_tv_contents .swiper-button-next {
  /* background-color: #2997ff; */
  width: 775px;
  height: 553px;
  top: 77px;
  color: transparent;
  z-index: 1;
}
.apple_tv_contents .swiper-button-prev {
  left: 50%;
  margin-left: -1279px;
}
.apple_tv_contents .swiper-button-next {
  right: 50%;
  margin-right: -1278px;
}

/* 유튜브 광고 */
.youtube {
  height: 680px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.youtube__area {
  background-color: #f8e475;
  width: 1920px;
  height: 1080px;
}
#player {
  width: 100%;
  height: 100%;
}